<?xml version="1.0" ?>
<launch>
  <arg name="cols" default="10"/>
  <arg name="rows" default="10"/>
  <arg name="from_link" default="base_link"/>
  <arg name="to_link" default="tool0"/>
  <arg name="save_path" default="$(find industrial_calibration)"/>
  <arg name="image_topic" default="/camera/rgb/image_rect_color"/>
  <arg name="joint_state_topic" default="/joint_states"/>

  <!-- Debug arguments -->
  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args"/>

  <node name="cal_data_collector" pkg="industrial_calibration" type="cal_data_collector" output="screen" launch-prefix="$(arg launch_prefix)" required="true">
    <param name="pattern_cols" value="$(arg cols)" type="int"/>
    <param name="pattern_rows" value="$(arg rows)" type="int"/>
    <param name="from_link" value="$(arg from_link)" type="string"/>
    <param name="to_link" value="$(arg to_link)" type="string"/>
    <param name="save_path" value="$(arg save_path)/" type="string"/>
    <remap from="~/image" to="$(arg image_topic)"/>
    <remap from="~/joint_states" to="$(arg joint_state_topic)"/>
  </node>
</launch>